.idea/hospitalService.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
Phase-wise Plan for OGD Hackathon App.xls
data/1_details available.xlsx
data/Hospital_with_discipline_jul_15.csv
data/datafile.csv
data/dispensaries_with_geocode-17_sep_2015.xls
data/hospital-directory.csv
data/hospital_database-may_2016.csv
data/nin-health-facilities.csv
